@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@400;600;700;800&display=swap');
/* src/index.css */

/* 1. Importa las directivas base, componentes y utilidades de Tailwind CSS */
@tailwind base;
@tailwind components;
@tailwind utilities;

/* 2. Importa tus fuentes si las necesitas */

/* 3. Tus clases @apply personalizadas DEBEN ir aquí. */
.btn-green {
  @apply bg-green-600 hover:bg-green-700 text-white py-4 px-6 rounded-lg font-bold transition shadow text-lg;
}

.btn-yellow {
  @apply bg-yellow-500 hover:bg-yellow-600 text-white py-4 px-6 rounded-lg font-bold transition shadow text-lg;
}

.btn-blue {
  @apply bg-blue-500 hover:bg-blue-600 text-white py-4 px-6 rounded-lg font-bold transition shadow text-lg;
}

.btn-gray {
  @apply bg-gray-700 hover:bg-gray-800 text-white py-4 px-6 rounded-lg font-bold transition shadow text-lg;
}

.btn-purple {
  @apply bg-purple-600 hover:bg-purple-700 text-white py-3 px-5 rounded-lg font-semibold transition;
}
body {
  overflow-x: hidden;
}

/* Estilos para el scroll */
::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-track {
  background: #f1f1f1;
}

::-webkit-scrollbar-thumb {
  background: #c1c1c1;
  border-radius: 4px;
}

::-webkit-scrollbar-thumb:hover {
  background: #a8a8a8;
}